//collegamento dei file
@import"color";
@import"variable";
//utilitis



//parte progetto
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
//parte della nav
.container-nav{
    background-color: $backgraundNav;
    &-top{
        margin: 0 auto;
        width: 1200px;
        
    }
    &-box{
        display: flex;
        justify-content: end;
        .list{
            display: flex;
            list-style: none;
            li {
              i{
                margin: 5px 9px;
                color: $colorsIconsButton;
                cursor: pointer;
              }
              .text-user{
                  color: $colorTextNav;
                  margin: 0 10px;
              }
            }
        }
    }
}
.contaienre-nav-bottom{
    display: flex;
    justify-content: space-around;
    color:$colorTextNav;
    .link-list{
        display: flex;
        list-style: none;
        cursor: pointer;
        margin: 10px;
        li {
            margin: 0 15px;
            i{
                color: $colorAngelDow;
            }
        }
    }
}
//parte header
.container-header{
    background-image:url($backGraundHeader );
    display: flex;
    justify-content: flex-end;
    &-center{
        display: flex;
        height: 505px;
        padding: 20px;
        justify-content: space-evenly;
        width: 832px;
        margin-right: 340px;
        .heade-box-center{
            .text-Violet{
                color: $colorNew;
            }
            .elemnt-center-list{
                list-style: none;
                margin-top: 15px;
                li{
                    cursor: pointer;
                    margin-bottom: 10px;
                    i{
                        color:$colorAngelDow;
                    }
                }
            }
        }
    }
    //secondo box
    .element-black-box{
        width: 370px;
        background-color: $backgraundNav;
        margin-left: 20px;
        .box-price{
            display: flex;
            justify-content: space-between;
            &-left{
                h1{
                    color: white;
                }
            }
            &-right{
                height: 100px;
                width: 100px;

                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}
