//collegamento dei file
@import"color";
@import"variable";
//utilitis



//parte progetto
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
//parte della nav
.container-nav{
    background-color: $backgraundNav;
    &-top{
        // background-color: yellowgreen;
        margin: 0 auto;
        width: 1200px;
        
    }
    &-box{
        display: flex;
        justify-content: end;
        .list{
            display: flex;
            list-style: none;
            li {
              i{
                margin: 5px 9px;
                color: $colorsIconsButton;
                cursor: pointer;
              }
              .text-user{
                  color: $colorTextNav;
                  margin: 0 10px;
              }
            }
        }
    }
}
.contaienre-nav-bottom{
    display: flex;
    justify-content: space-around;
    color:$colorTextNav;
    .link-list{
        display: flex;
        list-style: none;
        cursor: pointer;
        margin: 10px;
        li {
            margin: 0 15px;
            i{
                color: $colorAngelDow;
            }
        }
    }
}
//parte header
.container-header{
    background-image:url($backGraundHeader );
    display: flex;
    justify-content: flex-end;
    &-center{
        height: 505px;
        width: 810px;
        background-color: yellowgreen;
        margin-right: 340px;
    }
}
